.e1f1d6gn{
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #7E99AB;
}

li{
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #7E99AB;
    list-style-type: none;
}